@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Courgette&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Gowun+Batang&family=Nosifer&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
  font-family: "Akaya Telivigala", system-ui;
  font-style: normal;
  font-size: larger;
  color: white;
}
.Tfont{
  font-family: "Mate SC", serif;
}

.about{
  /* font-family: "Gowun Batang", serif; */
    font-family: "Courgette", cursive;


}
 /* BecomeHomeChef.jsx */
  .roundimg{
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }
  .roundimg2{
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
  }

/* //MeetOurChef */
.meetchef{
  border-top-left-radius: 30%;
  border-bottom-right-radius: none;
  border-bottom-left-radius:30%;
  border-top-right-radius: 30%;
}