@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
.navbar {
  position: absolute;
  right: 0;
  top: 0; /* Ensures the navbar is positioned at the top */
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: transparent;
  z-index: 10; /* Ensures it stays above other content */
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.nav-links li {
  margin-left: 1.5rem;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 18px;
  transition: color 0.5s ease;
}

.nav-links a:hover {
  color: orange;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.5s ease-in-out;
  position: ;
}

.nav-links a:hover::after {
  width: 100%;
}

  .Tfont{
    font-family: 'Cormorant Garamond', sans-serif;
  }
  .section-title {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  .section1Container{
    transition-duration: 2s;
  }
  .containerSection2{
    transition-duration: 2s;
  }
  .section-title::before,
  .section-title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px;  /* Length of the line */
    height: 2px;   /* Thickness of the line */
    background-color: #df500e; /* Line color */
  }
  
  .section-title::before {
    left: -110px;  /* Position to the left of the text */
  }
  
  .section-title::after {
    right: -110px; /* Position to the right of the text */
  }
  .simg{
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
    opacity: 0.7;
    
  }
  .simg2{
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    opacity: 0.7;
    
  }