@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Courgette&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Gowun+Batang&family=Nosifer&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
  font-family: "Akaya Telivigala", system-ui;
  font-style: normal;
  font-size: larger;
  color: white;
}
.Tfont{
  font-family: "Mate SC", serif;
}

.about{
  /* font-family: "Gowun Batang", serif; */
    font-family: "Courgette", cursive;


}
 
  .section-title {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  .section1Container{
    transition-duration: 2s;
  }
  .containerSection2{
    transition-duration: 2s;
  }
  .section-title::before,
  .section-title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px;  /* Length of the line */
    height: 2px;   /* Thickness of the line */
    background-color: #df500e; /* Line color */
  }
  
  .section-title::before {
    left: -110px;  /* Position to the left of the text */
  }
  
  .section-title::after {
    right: -110px; /* Position to the right of the text */
  }
  .simg{
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    opacity: 0.7;
    
  }
  .simg2{
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    opacity: 0.7;
    
  }
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}







.meetchef{
  border-top-left-radius: 30%;
  border-bottom-right-radius: none;
  border-bottom-left-radius:30%;
  border-top-right-radius: 30%;
}